extends layout

block content
    h1= title
    if (toShow == null)
        h2 No instance to delete
    else
     form(id='CustomerForm', action="/resource/customer/", method="POST")
        div.form-group
            label.customerAttr(for='Cust_Name') Customer Name
            input#Cust_Name(type='text', name='Cust_Name')
        div.form-group
            label.customerAttr(for='Cust_Age') Customer age
            input#Cust_Age(type='number', name='Cust_Age')
        div.form-group
            label.customerAttr(for='Mail_Id') Customer Mail_Id
            input#Mail_Id(type='text', name='Mail_Id')
        input(type="submit")
     script.
        document.forms['CustomerForm'].addEventListener('submit', (event) => {
            event.preventDefault();
            // TODO do something here to show user that form is being submitted
            fetch(event.target.action, {
                method: 'POST',
                body: new URLSearchParams(new FormData(event.target))
            }).then((resp) => {
                return resp.json(); // or resp.text() or whatever the server sends
            }).then((body) => {
                alert("Save succeded")
            // TODO handle body
            }).catch((error) => {
            // TODO handle error
                alert("Save failed " + error )
            });
            });